.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-arrow_left {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-arrow_right {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-bear {
	font-size:(378/10)*1rem;
	height:(386/378)*1em;
}
.icon-bear-right-bottom {
	font-size:(378/10)*1rem;
	height:(386/378)*1em;
}
.icon-blog {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-burger2 {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-call {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-card {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-cart {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-cart_full {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-cash {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-checkbox-active {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-checkbox-default {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-close2 {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-copy {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-deco-star {
	font-size:(77/10)*1rem;
	height:(72/77)*1em;
}
.icon-deco-star-2 {
	font-size:(40/10)*1rem;
	height:(86/40)*1em;
}
.icon-delete {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-dolyamy {
	font-size:(112/10)*1rem;
	height:(24/112)*1em;
}
.icon-dolyamy2 {
	font-size:(24/10)*1rem;
	height:(24/24)*1em;
}
.icon-dolyamy3 {
	font-size:(68/10)*1rem;
	height:(20/68)*1em;
}
.icon-dolyamy3-1 {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-exit {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-fairy-bear {
	font-size:(283/10)*1rem;
	height:(269/283)*1em;
}
.icon-favorite {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-favorite_full {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-info {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-language {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-logo {
	font-size:(300/10)*1rem;
	height:(45/300)*1em;
}
.icon-logo-short {
	font-size:(85/10)*1rem;
	height:(29/85)*1em;
}
.icon-mastercard {
	font-size:(31/10)*1rem;
	height:(24/31)*1em;
}
.icon-minus {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-mir {
	font-size:(56/10)*1rem;
	height:(24/56)*1em;
}
.icon-notify {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-open {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-open2 {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-plus2 {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-point {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-profile {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-profile-1 {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-radio-active {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-radio-default {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-right {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-sberpay {
	font-size:(57/10)*1rem;
	height:(24/57)*1em;
}
.icon-sbp {
	font-size:(40/10)*1rem;
	height:(24/40)*1em;
}
.icon-search {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-share2 {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-slider {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-spring {
	font-size:(70/10)*1rem;
	height:(62/70)*1em;
}
.icon-toddler-left {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-toddler-right {
	font-size:(32/10)*1rem;
	height:(32/32)*1em;
}
.icon-visa {
	font-size:(46/10)*1rem;
	height:(24/46)*1em;
}
