.svg-arrow_left-dims {
    width: 32px;
    height: 32px;
}

.svg-arrow_right-dims {
    width: 32px;
    height: 32px;
}

.svg-bear-dims {
    width: 378px;
    height: 386px;
}

.svg-bear-right-bottom-dims {
    width: 378px;
    height: 386px;
}

.svg-blog-dims {
    width: 32px;
    height: 32px;
}

.svg-burger2-dims {
    width: 32px;
    height: 32px;
}

.svg-call-dims {
    width: 32px;
    height: 32px;
}

.svg-card-dims {
    width: 32px;
    height: 32px;
}

.svg-cart-dims {
    width: 32px;
    height: 32px;
}

.svg-cart_full-dims {
    width: 32px;
    height: 32px;
}

.svg-cash-dims {
    width: 32px;
    height: 32px;
}

.svg-checkbox-active-dims {
    width: 32px;
    height: 32px;
}

.svg-checkbox-default-dims {
    width: 32px;
    height: 32px;
}

.svg-close2-dims {
    width: 32px;
    height: 32px;
}

.svg-copy-dims {
    width: 32px;
    height: 32px;
}

.svg-deco-star-dims {
    width: 77px;
    height: 72px;
}

.svg-deco-star-2-dims {
    width: 40px;
    height: 86px;
}

.svg-delete-dims {
    width: 32px;
    height: 32px;
}

.svg-dolyamy-dims {
    width: 112px;
    height: 24px;
}

.svg-dolyamy2-dims {
    width: 24px;
    height: 24px;
}

.svg-dolyamy3-dims {
    width: 68px;
    height: 20px;
}

.svg-dolyamy3-1-dims {
    width: 32px;
    height: 32px;
}

.svg-exit-dims {
    width: 32px;
    height: 32px;
}

.svg-fairy-bear-dims {
    width: 283px;
    height: 269px;
}

.svg-favorite-dims {
    width: 32px;
    height: 32px;
}

.svg-favorite_full-dims {
    width: 32px;
    height: 32px;
}

.svg-info-dims {
    width: 32px;
    height: 32px;
}

.svg-language-dims {
    width: 32px;
    height: 32px;
}

.svg-logo-dims {
    width: 300px;
    height: 45px;
}

.svg-logo-short-dims {
    width: 85px;
    height: 29px;
}

.svg-mastercard-dims {
    width: 31px;
    height: 24px;
}

.svg-minus-dims {
    width: 32px;
    height: 32px;
}

.svg-mir-dims {
    width: 56px;
    height: 24px;
}

.svg-notify-dims {
    width: 32px;
    height: 32px;
}

.svg-open-dims {
    width: 32px;
    height: 32px;
}

.svg-open2-dims {
    width: 32px;
    height: 32px;
}

.svg-plus2-dims {
    width: 32px;
    height: 32px;
}

.svg-point-dims {
    width: 32px;
    height: 32px;
}

.svg-profile-dims {
    width: 32px;
    height: 32px;
}

.svg-profile-1-dims {
    width: 32px;
    height: 32px;
}

.svg-radio-active-dims {
    width: 32px;
    height: 32px;
}

.svg-radio-default-dims {
    width: 32px;
    height: 32px;
}

.svg-right-dims {
    width: 32px;
    height: 32px;
}

.svg-sberpay-dims {
    width: 57px;
    height: 24px;
}

.svg-sbp-dims {
    width: 40px;
    height: 24px;
}

.svg-search-dims {
    width: 32px;
    height: 32px;
}

.svg-share2-dims {
    width: 32px;
    height: 32px;
}

.svg-slider-dims {
    width: 32px;
    height: 32px;
}

.svg-spring-dims {
    width: 70px;
    height: 62px;
}

.svg-toddler-left-dims {
    width: 32px;
    height: 32px;
}

.svg-toddler-right-dims {
    width: 32px;
    height: 32px;
}

.svg-visa-dims {
    width: 46px;
    height: 24px;
}

